
.header{
    background-image:url(images/forestbridge.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 80vh;
    background-size: cover;
    font-family: Arial, ;
    
}

body{
    background-color: black;
}


#about-text h2{
    font-size: 40px;
    font-weight: bold;
    font-family: lucida handwriting;
}

.nav-item{
    margin-right: 50px;
}

.container h2{
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, ;
}

.row img{
    height: auto;
    width: 300px;

}

#about-text p{
    line-height: 40px;
    text-transform: capitalize;
}
.text-danger a i{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9004d;
    border-radius: 50%;
    color: white;
    text-decoration: none;
    font-size: 20px;
   
}

.text-danger a{
    text-decoration: none;
}

span{
    color:red;
}

.container h4{
    font-size: 20px;
    line-height: 40px;
}

.text-danger a:hover i{
    color:aqua;
}

#skills{
    color: #f9004d;
    font-family: lucida handwriting;
}

#portfolio{
    font-weight: bold;
    color: #f9004d;
    font-size: 30px;
    font-family: lucida handwriting;
    text-transform: capitalize;
}

b{
    color: #f9004d;
    font-size: 25px;
}

 a{
    text-decoration: none;
    font-size: 20px;
}


.text-center button{
    border: none;
    background-color: blue;
    border-radius: 20px;
    padding: 10px;
 
}

.text-center button a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: sans-serif;
}


#contact{
    font-family: lucida handwriting ;
    font-weight: bold;
    font-size: 30px;
    color: #f9004d;
    text-align: center;
    
}

address{
    line-height: 30px;
    
}

.col-sm-4 a i{
    border: 2px solid transparent;
    color: aqua;
    padding: 4px;
    background-color: black;
    
}

.col-sm-4 a:hover i{
    color: white;
    background-color: black;
}


.col-sm-4{
    margin-top:40px;
    
}

.col-sm-4 i{
    padding: 8px;
    margin: 5px;
    color:aqua;
}

.pt-4{
    padding-left: 130px;
    
}







